alias gs='git status'
alias ga='git add'
alias gb='git branch'
alias gc='git commit'
alias gco='git checkout'
alias gd='git diff'

alias hbalert='/srv/HomeBrain/homebrain th hbrain alert'
alias hbamp='/srv/HomeBrain/homebrain th amp'
alias hbtv='/srv/HomeBrain/homebrain th tv'

alias hbdir='cd /srv/HomeBrain/'
alias hblog='tail -f -n 50 /srv/HomeBrain/var/hbrain.log'
alias hbnrf='sudo /srv/HomeBrain/bin/nrf'

alias hbrain='/srv/HomeBrain/homebrain hbrain'
alias hbserv='/srv/HomeBrain/homebrain hserv'
alias hbmpd='/srv/HomeBrain/homebrain mpd'
alias hbkodi='/srv/HomeBrain/homebrain kodi'
alias hbtemps='/srv/HomeBrain/homebrain hbrain gettemps'
alias hbmedvedi='/srv/HomeBrain/homebrain medvedi'

alias hblan='/srv/HomeBrain/homebrain lan'

