alias hbalert='/srv/HomeBrain/homebrain th hbrain alert'
alias hbamp='/srv/HomeBrain/homebrain th amp'
alias hbtv='/srv/HomeBrain/homebrain th tv'

alias hbdir='cd /srv/HomeBrain/'
alias hblog='tail -f /srv/HomeBrain/var/hbrain.log'
alias hbnrf='sudo /srv/HomeBrain/bin/nrf'

alias hbrain='/srv/HomeBrain/homebrain hbrain'
alias hbserv='/srv/HomeBrain/homebrain hserv'
alias hbmpd='/srv/HomeBrain/homebrain mpd'
alias hbkodi='/srv/HomeBrain/homebrain kodi'
alias hbtemps='/srv/HomeBrain/homebrain hbrain gettemps'
alias hbmedvedi='/srv/HomeBrain/homebrain medvedi'

