alias hbalert='/srv/HomeBrain/homebrain hbrain alert'
alias hbamp='/srv/HomeBrain/homebrain amp'
alias hbkodi='/srv/HomeBrain/homebrain kodi'
alias hbmedvedi='/srv/HomeBrain/homebrain medvedi'
alias hbmpd='/srv/HomeBrain/homebrain mpd'
alias hbnrf='sudo /srv/HomeBrain/bin/nrf'
alias hbrain='/srv/HomeBrain/homebrain hbrain'
alias hbserv='/srv/HomeBrain/homebrain hserv'
alias hbtv='/srv/HomeBrain/homebrain tv'
alias hbtemps='/srv/HomeBrain/homebrain hbrain gettemps'