;<?php
;die();
;/*

DEBUG="true"

ALARM="6:00 AM"

HOMEBRAIN[IP]="xxx.xxx.xxx.xxx"
HOMEBRAIN[USER]="user"
HOMEBRAIN[LOG]="hbrain.log"
HOMEBRAIN[DB]="hbrain.db"
HOMEBRAIN[PUBKEY]="/path/to/.ssh/id_rsa.pub"
HOMEBRAIN[PRIVKEY]="/path/to/.ssh/id_rsa"

DB_REPLICATION[HOST]="example.com"
DB_REPLICATION[USER]="db_user"
DB_REPLICATION[PASS]="dbpassword"
DB_REPLICATION[DBNAME]="db_name"

HOMESERVER[USER]="hbrain"
HOMESERVER[DAILY_WAKE]="5:30 AM"

TEMP[HYST]="0.2"
TEMP[EMPTY]="17"
TEMP[NIGHT]="17"
TEMP[MAX]="20.5"
TEMP[MIN]="10"
TEMP[FORCE]="20"

SILENT_TIME[START]="23"
SILENT_TIME[END]="6"

SOUND[MAX]="-20"
SOUND[MAX_WHEN_SILENT_TIME]="-30"

FCM[URL]="https://fcm.googleapis.com/fcm/send"
FCM[API_KEY]="xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"

;*/
;?>
