;<?php
;die(); // For further security
;/*

DEBUG_LOG="dbg.log.txt"

HOMEBRAIN[IP]="xxxxxxx"

HOMESERVER[IP]="xxxxxx"
HOMESERVER[MAC]="xxxx"

HOMEBRAIN_DB="hbrain.db"

DB_REPLIC_HOST=...
DB_REPLIC_USER=...
DB_REPLIC_PASS=...
DB_REPLIC_DBNAME=...

HEAT_HYST=0.2
TEMPSET_EMPTY=17
TEMPSET_NIGHT=17
TEMPSET_MAX=20.5
TEMPSET_MIN=10
TEMPSET_FORCE=20

SILENT_TIME_START="23"
SILENT_TIME_END="6"

#HOST[]='name|mac|allwaysOn|heating|turnOn'


FCM[URL]="https://fcm.googleapis.com/fcm/send"
FCM[API_KEY]="xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"

;*/

;?>