alias gs='git status'
alias ga='git add'
alias gb='git branch'
alias gc='git commit'
alias gco='git checkout'
alias gd='git diff'

alias hbdir='cd /srv/HomeBrain/'
alias hblog='tail -f -n 50 /srv/HomeBrain/var/hbrain.log'

alias hbrain='/srv/HomeBrain/homebrain hbrain'
alias hbserv='/srv/HomeBrain/homebrain hserv'
alias hbmpd='/srv/HomeBrain/homebrain mpd'
alias hbkodi='/srv/HomeBrain/homebrain kodi'
alias hbtemps='/srv/HomeBrain/homebrain hbrain gettemps'
alias hbmedvedi='/srv/HomeBrain/homebrain medvedi'
alias hblan='/srv/HomeBrain/homebrain lan'
alias hblight='/srv/HomeBrain/homebrain light'
alias hbclocknotify='/srv/HomeBrain/homebrain notifier notifyClock'
